<div class="uk-card uk-card-large uk-card-default">
  <br />
  <button id="register" class="uk-button uk-button-default uk-button-large uk-align-center" href="javascript:void()">Register</button>
  <br />
  <button id="connect" class="uk-button uk-button-default uk-button-large uk-align-center" href="javascript:void()">Login</button>
</div>