<div class="uk-card uk-card-large uk-card-default">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Player</legend>

        <div class="uk-margin">
            <div class="uk-form-label">Login</div>
            <div class="uk-form-controls">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input id="loginField" class="uk-input" type="text" placeholder="">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-form-label">Password</div>
            <div class="uk-form-controls">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input id="passwordField" class="uk-input" type="password" placeholder="">
            </div>
        </div>

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> Save login info</label>
        </div>

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <button id="submit" class="uk-button uk-button-default uk-button-large">Connect</button>
        </div>
    </fieldset>
    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <button id="back" class="uk-button uk-button-default uk-button-large">Back</button>
    </div>
</div>